<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div class="container pt">
			<div class="row mt">
				<div class="col-lg-6 col-lg-offset-3 centered">
					<h3 th:text="#{contact_us.title}"></h3>
					<hr />
					<p th:text="#{contact_us.description}"></p>
				</div>
			</div>
			<div class="row mt">
				<div class="col-lg-8 col-lg-offset-2">
					<form role="form">
						<div class="form-group">
							<input type="name" class="form-control" id="NameInputEmail1"
								th:placeholder="#{contact_us.form.name}" /> <br />
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="exampleInputEmail1"
								th:placeholder="#{contact_us.form.email}" /> <br />
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="subjectEmail1"
								th:placeholder="#{contact_us.form.subject}" /> <br />
						</div>
						<textarea class="form-control" rows="6"
							th:placeholder="#{contact_us.form.message}"></textarea>
						<br/>
						<button type="submit" class="btn btn-success" th:text="#{contact_us.form.submit}"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>