<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 centered">
						<h3 th:text="#{gridjobs.long_title}"></h3>
						<hr />
						<p th:text="#{gridjobs.description}"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="container" th:include="proxyInfo::proxyInfo"></div>

		<div class="container pt">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#extend" role="tab" data-toggle="tab" th:text="#{gridjobs.extend.title}"></a></li>
				<li><a href="#submit" role="tab" data-toggle="tab" th:text="#{gridjobs.submit.title}"></a></li>
				<li><a href="#jdl" role="tab" data-toggle="tab" th:text="#{gridjobs.jdl.title}"></a></li>
				<li><a href="#list_all" role="tab" data-toggle="tab" th:text="#{gridjobs.get_all.title}"></a></li>
				<li><a href="#list_one" role="tab" data-toggle="tab" th:text="#{gridjobs.get.title}"></a></li>
				<li><a href="#files" role="tab" data-toggle="tab" th:text="#{gridjobs.files.title}"></a></li>
				<li><a href="#delete" role="tab" data-toggle="tab" th:text="#{gridjobs.delete.title}"></a></li>
				<li><a href="#abort" role="tab" data-toggle="tab" th:text="#{gridjobs.abort.title}"></a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="extend">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs/gridproxy/{vo}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>vo</em> - <span th:text="#{gridjobs.extend.vo}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{gridjobs.extend.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
-----BEGIN CERTIFICATE-----
...
...
...
-----END CERTIFICATE-----</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"error",
  "exit_code":0,
  "error_message":"error message...",
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/gridjobs/gridproxy/vo.plgrid.pl}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{gridjobs.extend.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="submit">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">POST</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em th:text="#{example.url_params.none}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td>
								<p>
									<strong th:text="|#{gridjobs.submit.body.content.type}:|"></strong>									
								</p>
								<pre th:text="#{gridjobs.submit.data_params}"></pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">201</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"RUNNING",
  "job_id":"56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a",
  "native_job_id":"https://lb02.grid.cyf-kr.edu.pl:9000/6UVXM9J-Hwjli2WJSYmIKQ"
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
{
  "status":"error",
  "exit_code":-1,
  "error_message":"error message...",
  "tag":null
}
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

echo First file contents > in1.txt
echo Second file contents > in2.txt
echo -e '#!/bin/bash\ncat in1.txt in2.txt > result.txt' > run.sh

curl -k -X POST --header "PROXY:$proxy" --form files=@run.sh --form files=@in1.txt --form files=@in2.txt \
--form executable=run.sh --form outputSandbox=result.txt --form stdOutput=out.txt \
--form stdError=error.txt <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs}" />
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td th:text="#{gridjobs.submit.notes}"></td>
						</tr>
					</table>
				</div>
				
				<div class="tab-pane fade" id="jdl">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs/{job_id}/jdl</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{gridjobs.jdl.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{gridjobs.jdl.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
[
  Type = "Job";
  JobType = "Normal";
  Executable = "run.sh";
  ...
  ...        
]
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"error",
  "exit_code":0,
  "error_message":"error message...",
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/gridjobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a/jdl}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{gridjobs.extend.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="list_all">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs?tag={tag}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>tag</em> - <span th:text="#{gridjobs.get_all.param.tag}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{gridjobs.get_all.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
[
  {
    "status":"RUNNING",
    "job_id":"295a49d3-b261-4acb-a508-fce3e1684494",
    "native_job_id":"https://lb02.grid.cyf-kr.edu.pl:9000/e4QEAZLtYUwTzr1tblH57A"
  },
  {
    "status":"RUNNING",
    "job_id":"56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a",
    "native_job_id":"https://lb02.grid.cyf-kr.edu.pl:9000/6UVXM9J-Hwjli2WJSYmIKQ"
  }
]
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": -1,
  "error_message": "error message...",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/gridjobs}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{gridjobs.get_all.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="list_one">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{gridjobs.get.job_id}"></span></td>
							
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{jobs.get.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"RUNNING",
  "job_id":"56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a",
  "native_job_id":"https://lb02.grid.cyf-kr.edu.pl:9000/6UVXM9J-Hwjli2WJSYmIKQ"
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": -1,
  "error_message": "error message...",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a}" />
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{gridjobs.get.notes}"></em></td>
						</tr>
					</table>
				</div>
				
				<div class="tab-pane fade" id="files">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs/{job_id}/files/{file_name}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td>
								<em>job_id</em> - <span th:text="#{gridjobs.files.job_id}"></span>
								<br/>
								<em>file_name</em> - <span th:text="#{gridjobs.files.file_name}"></span>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{gridjobs.files.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre th:text="#{gridjobs.files.file_contents}"></pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"error",
  "exit_code":0,
  "error_message":"error message...",
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/gridjobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a/files/result.txt}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{gridjobs.extend.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="delete">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">DELETE</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{gridjobs.delete.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{gridjobs.delete.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<strong th:text="|#{example.code}:|"></strong>
								<em class="label label-success">204</em>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": 0,
  "error_message": "error message",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X DELETE --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a}" />
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{gridjobs.delete.notes}"></em></td>
						</tr>
					</table>
				</div>
				
				<div class="tab-pane fade" id="abort">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/gridjobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">PUT</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{gridjobs.delete.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td>
								<p>
									<strong th:text="|#{example.json}:|"></strong>
								</p><pre th:text="#{gridjobs.put.action_params}"></pre><p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "action": "abort"
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<strong th:text="|#{example.code}:|"></strong>
								<em class="label label-success">204</em>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": 0,
  "error_message": "error message...",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X PUT --data '{"action":"abort"}' --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/jobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a}" />
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{gridjobs.delete.notes}"></em></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>