<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 centered">
						<h3>JOBS SUBMITTER</h3>
						<hr />
						<p>Allows for easy and robust process (including local jobs)
							management via a REST interface with user proxy certificate
							delegation.</p>
					</div>
				</div>
			</div>
		</div>


		<div class="container pt">
			TODO
		</div>
	</div>
</body>
</html>