<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<!-- +++++ Welcome Section +++++ -->
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img th:src="@{/img/rimrock.png}" alt="rimrock" />
						<h1>Robust Remote Process Controller</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>

					</div>
				</div>
			</div>
		</div>

		<!-- +++++ Projects Section +++++ -->
		<div class="container pt">
			<div class="row mt centered">
				<div class="col-lg-4">
					<a class="zoom green" th:href="@{/processes}"><img
						class="img-responsive" th:src="@{/img/portfolio/processes.jpg}" alt="" /></a>
					<p>PROCESSES</p>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" th:href="@{/iprocesses}"><img
						class="img-responsive" th:src="@{/img/portfolio/iprocesses.jpg}" alt="" /></a>
					<p>IPROCESSES</p>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" th:href="@{/jobs}"><img class="img-responsive"
						th:src="@{/img/portfolio/jobs.jpg}" alt="" /></a>
					<p>JOBS</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>