<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 centered">
						<h3>Basic command execution</h3>
						<hr />
						<p>Executes a single command on a remote machine and returns
							its exit code and standard output. The execution time is limited
							to 1000 ms.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container pt">
			<table class="table table-bordered">
				<tr>
					<th>Title</th>
					<td>Execute command</td>
				</tr>
				<tr>
					<th>URL</th>
					<td><code>/api/process</code></td>
				</tr>
				<tr>
					<th>Method</th>
					<td><span class="label label-primary">GET</span></td>
				</tr>
				<tr>
					<th>URL Params</th>
					<td><em>None</em></td>
				</tr>
				<tr>
					<th>Data Params</th>
					<td>
						<p>
							<strong>JSON:</strong>
						</p> <pre>
{
  "host": [string (required)],
  "command": [string (required)],
  "proxy": [string (required)]
}
  					</pre>
						<p>
							<strong>Example:</strong>
						</p> <pre>
{
  "host": "zeus.cyfronet.pl",
  "command": "date",
  "proxy": "-----BEGIN CERTIFICATE-----
            MIIDfzCCAmegAwIBAgII
            ...
            uXBa+dITjblqY+DhMGizcG7ul62mQ==
            -----END CERTIFICATE-----"
}
  					</pre>
					</td>
				</tr>
				<tr class="success">
					<th>Success Response</th>
					<td>
						<p>
							<strong>Code:</strong> <em>200</em>
						</p>
						<p>
							<strong>Example:</strong>
						</p> <pre>
{
  "status":"ok",
  "exit_code":0,
  "standard_output":"Fri Aug  1 14:33:55 CEST 2014",
  "error_output":"",
  "error_message":null
}
  					</pre>
					</td>
				</tr>
				<tr class="danger">
					<th>Error Response</th>
					<td>
						<p>
							<strong>Code:</strong> <em>408</em> | <em>422</em> | <em>500</em>
						</p>
						<p>
							<strong>Example:</strong>
						</p> <pre>
{
  "status":"error",
  "exit_code":-1,
  "standard_output":"whatever was printed before timeout",
  "error_output":"",
  "error_message":"timeout occurred..."
}
  					</pre>
					</td>
				</tr>
				<tr>
					<th>Sample Call</th>
					<td>
						<p>
							<strong>Bash (with base64, tr and curl):</strong>
						</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"
message="{\"host\":\"zeus.cyfronet.pl\", \"command\":\"pwd\"}"
echo $message > message.txt
curl -X GET --data-binary @message.txt --header "Content-Type:application/json" --header "PROXY:$proxy" http://localhost:8080/api/process
  					</pre>
					</td>
				</tr>
				<tr>
					<th>Notes</th>
					<td><em>None</em></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>