<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 centered">
						<h3 th:text="#{qcgjobs.long_title}"></h3>
						<hr />
						<p th:text="#{qcgjobs.description}"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="container" th:include="proxyInfo::proxyInfo"></div>

		<div class="container pt">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#submit" role="tab" data-toggle="tab" th:text="#{qcgjobs.submit.title}"></a></li>
				<li><a href="#jdl" role="tab" data-toggle="tab" th:text="#{qcgjobs.jdl.title}"></a></li>
				<li><a href="#list_all" role="tab" data-toggle="tab" th:text="#{qcgjobs.get_all.title}"></a></li>
				<li><a href="#list_one" role="tab" data-toggle="tab" th:text="#{qcgjobs.get.title}"></a></li>
				<li><a href="#files" role="tab" data-toggle="tab" th:text="#{qcgjobs.files.title}"></a></li>
				<li><a href="#delete" role="tab" data-toggle="tab" th:text="#{qcgjobs.delete.title}"></a></li>
				<li><a href="#abort" role="tab" data-toggle="tab" th:text="#{qcgjobs.abort.title}"></a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="submit">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/qcgjobs</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">POST</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em th:text="#{example.url_params.none}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td>
								<p>
									<strong th:text="|#{qcgjobs.submit.body.content.type}:|"></strong>									
								</p>
								<pre th:text="#{qcgjobs.submit.data_params}"></pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">201</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"RUNNING",
  "job_id":"56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a",
  "native_job_id":"J1435215723375__9256"
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p> <pre>
{
  "status":"error",
  "exit_code":-1,
  "error_message":"error message...",
  "tag":null
}
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

echo First file contents > in1.txt
echo Second file contents > in2.txt
echo -e '#!/bin/bash\ncat in1.txt in2.txt > result.txt' > run.sh

curl -k -X POST --header "PROXY:$proxy" --form files=@run.sh --form files=@in1.txt --form files=@in2.txt \
--form executable=run.sh --form outputSandbox=result.txt --form stdOutput=out.txt \
--form stdError=error.txt <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/qcgjobs}" />
  					</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td th:text="#{qcgjobs.submit.notes}"></td>
						</tr>
					</table>
				</div>
				
				<div class="tab-pane fade" id="jdl">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/qcgjobs/{job_id}/jobdescription</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{qcgjobs.jdl.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{qcgjobs.jdl.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;qcgJob appId=&quot;&quot;&gt;
   &lt;task taskId=&quot;task&quot;&gt;
      &lt;execution type=&quot;single&quot;&gt;
      &lt;!-- ... --&gt;
      &lt;/execution&gt;
   &lt;/task&gt;
&lt;/qcgJob&gt;
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"error",
  "exit_code":0,
  "error_message":"error message...",
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/qcgjobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a/jobdescription}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{qcgjobs.jdl.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="list_all">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/qcgjobs?tag={tag}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>tag</em> - <span th:text="#{qcgjobs.get_all.param.tag}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{qcgjobs.get_all.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
[
  {
    "status":"RUNNING",
    "job_id":"295a49d3-b261-4acb-a508-fce3e1684494",
    "native_job_id":"J1435215723375__9256"
  },
  {
    "status":"RUNNING",
    "job_id":"56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a",
    "native_job_id":"J1435215723375__9256"
  }
]
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": -1,
  "error_message": "error message...",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/qcgjobs}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{qcgjobs.get_all.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="list_one">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/qcgjobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{qcgjobs.get.job_id}"></span></td>
							
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{jobs.get.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"RUNNING",
  "job_id":"56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a",
  "native_job_id":"J1435215723375__9256"
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": -1,
  "error_message": "error message...",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/qcgjobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a}" />
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{qcgjobs.get.notes}"></em></td>
						</tr>
					</table>
				</div>
				
				<div class="tab-pane fade" id="files">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/qcgjobs/{job_id}/files/{file_name}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td>
								<em>job_id</em> - <span th:text="#{qcgjobs.files.job_id}"></span>
								<br/>
								<em>file_name</em> - <span th:text="#{qcgjobs.files.file_name}"></span>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{qcgjobs.files.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre th:text="#{qcgjobs.files.file_contents}"></pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">422</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"error",
  "exit_code":0,
  "error_message":"error message...",
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X GET --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/qcgjobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a/files/result.txt}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{qcgjobs.files.notes}"></em></td>
						</tr>
					</table>
				</div>

				<div class="tab-pane fade" id="delete">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/qcgjobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">DELETE</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{qcgjobs.delete.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{qcgjobs.delete.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<strong th:text="|#{example.code}:|"></strong>
								<em class="label label-success">204</em>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": 0,
  "error_message": "error message",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p>
								<pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X DELETE --header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/qcgjobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a}" />
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{qcgjobs.delete.notes}"></em></td>
						</tr>
					</table>
				</div>
				
				<div class="tab-pane fade" id="abort">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/qcgjobs/{job_id}</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">PUT</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em>job_id</em> - <span th:text="#{qcgjobs.delete.job_id}"></span></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td>
								<p>
									<strong th:text="|#{example.json}:|"></strong>
								</p><pre th:text="#{qcgjobs.put.action_params}"></pre><p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "action": "abort"
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<strong th:text="|#{example.code}:|"></strong>
								<em class="label label-success">204</em>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">408</em> |
									<em class="label label-danger">404</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status": "error",
  "exit_code": 0,
  "error_message": "error message...",
  "tag":null
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{example.sample_call.title}"></strong>
								</p> <pre>
proxy="`cat {path-to-proxy-file} | base64 | tr -d '\n'`"

curl -k -X PUT --data '{"action":"abort"}' --header "Content-Type:application/json" \
--header "PROXY:$proxy" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/qcgjobs/56cd0b82-2db4-4dd7-ad77-4ceb922f9a7a}" />
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{qcgjobs.delete.notes}"></em></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>