<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="grey">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img class="avatar" th:src="@{/img/team/dh.png}" alt="Daniel Harężlak" />
						<h1>Daniel Harężlak</h1>
						<p th:text="#{team.dh.bio}"></p>
					</div>
				</div>
			</div>
		</div>

		<div id="white">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img class="avatar" th:src="@{/img/team/mk.jpg}" alt="Marek Kasztelnik" />
						<h1>Marek Kasztelnik</h1>
						<p th:text="#{team.mk.bio}"></p>
					</div>
				</div>
			</div>
		</div>
		
		<div id="grey">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img class="avatar" th:src="@{/img/team/jm.jpg}" alt="Jan Meizner" />
						<h1>Jan Meizner</h1>
						<p th:text="#{team.jm.bio}"></p>
					</div>
				</div>
			</div>
		</div>

		<div id="white">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img class="avatar" th:src="@{/img/team/mp.jpg}" alt="Maciej Pawlik" />
						<h1>Maciej Pawlik</h1>
						<p th:text="#{team.mp.bio}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>