<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="grey">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img class="avatar" th:src="@{/img/team/dh.png}" alt="Daniel Harężlak" />
						<h1>Daniel Harężlak</h1>
						<p>I am a graduate of Computer Science major at the University
							of Science and Technology in Krakow. At Cyfronet, I participate
							in various national and European research initiatives focusing on
							the usability of large computation and storage infrastructures.
							My area of interest includes web development, dynamic languages
							and remote desktop utilisation.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="white">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img class="avatar" th:src="@{/img/team/mk.jpg}" alt="Marek Kasztelnik" />
						<h1>Marek Kasztelnik</h1>
						<p>I graduated from the University of Science and Technology
							in Kraków, Poland, where I received my M.Sc. in Computer Science.
							In the 2005 I joined Technologies Group in Research and
							development department in ComArch (2005-2010) where I was
							responsible for designing and developing solutions for
							telecommunication management and meta-modeling. In 2006 I have
							joined DICE team where I have been involved in the EU-funded
							projects. My current work addresses areas such as distributed
							resource discovery, distributed cloud based application design 
							and implementation.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="grey">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<img class="avatar" th:src="@{/img/team/mp.jpg}" alt="Maciej Pawlik" />
						<h1>Maciej Pawlik</h1>
						<p>M.Sc. in Applied Computer Science from University of
							Science and Technology. I'm a Scientific Programmer at ACC
							Cyfronet AGH, where I'm involved in European and national
							research projects, my main areas of interest are: data and
							knowledge provenance study, cloud infrastructure, multiscale
							applications, grid middleware interoperability, workflow engines
							and analysis.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>