<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div id="wrapper" layout:fragment="content">
		<div id="ww">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 centered">
						<h3 th:text="#{userproxy.long_title}"></h3>
						<hr />
						<p th:text="#{userproxy.description}"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="container pt">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="extend">
					<table class="table table-bordered">
						<tr>
							<th th:text="#{example.url}"></th>
							<td><code>/api/userproxy</code></td>
						</tr>
						<tr>
							<th th:text="#{example.method}"></th>
							<td><span class="label label-primary">GET</span></td>
						</tr>
						<tr>
							<th th:text="#{example.url_params}"></th>
							<td><em th:text="#{userproxy.url_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{example.data_params}"></th>
							<td><em th:text="#{userproxy.data_params}"></em></td>
						</tr>
						<tr>
							<th th:text="#{userproxy.header_params}"></th>
							<td>
								<em>USER-LOGIN</em> - <span th:text="#{userproxy.header.user_login}"></span><br/>
								<em>USER-PASSWORD</em> - <span th:text="#{userproxy.header.user_password}"></span><br/>
								<em>PRIVATE-KEY-PASSWORD</em> - <span th:text="#{userproxy.header.private_key_password}"></span>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.success}"></th>
							<td>
								<p>
									<strong th:text="|#{example.code}:|"></strong>
									<em class="label label-success">200</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
-----BEGIN CERTIFICATE-----
...
...
...
-----END CERTIFICATE-----</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.error}"></th>
							<td>
								<p>
									<strong th:text="|#{example.error}:|"></strong>
									<em class="label label-danger">404</em> |
									<em class="label label-danger">423</em> |
									<em class="label label-danger">500</em>
								</p>
								<p>
									<strong th:text="|#{example.example}:|"></strong>
								</p>
								<pre>
{
  "status":"error",
  "exit_code":0,
  "error_message":"error message...",
}
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.sample}"></th>
							<td>
								<p>
									<strong th:text="#{userproxy.sample.title}"></strong>
								</p>
								<pre>
read -p "Provide user login: " userLogin
read -s -p "Provide user password: "; userPassword=`echo $REPLY | tr -d '\n' | base64`
read -s -p "Provide private key password: "; privateKeyPassword=`echo $REPLY | tr -d '\n' | base64`
curl -k -X GET --header "USER-LOGIN:$userLogin" --header "USER-PASSWORD:$userPassword" \
--header "PRIVATE-KEY-PASSWORD:$privateKeyPassword" <th:block th:text="'https://' + ${#httpServletRequest.serverName} + @{~/api/userproxy}"/>
</pre>
							</td>
						</tr>
						<tr>
							<th th:text="#{example.notes}"></th>
							<td><em th:text="#{userproxy.extend.notes}"></em></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>